@import "tailwindcss";

:root {
  font-family: 'Space Mono', monospace;
  --industrial-grey: #e5e5e5;
  --industrial-black: #000000;
  --industrial-orange: #ff5c00;
}

h1, h2, h3, h4, .font-heading {
  font-family: 'Unbounded', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -0.04em;
}

.text-barcode {
  letter-spacing: -0.1em;
  font-weight: 900;
  filter: stretch(2);
}

.bg-industrial {
  background-color: var(--industrial-grey);
}

.border-industrial {
  border-width: 2px;
  border-color: var(--industrial-black);
}

html, body {
  /* Prevent content from being hidden behind the floating mobile dock */
  padding-bottom: 5rem;
}

@media (min-width: 768px) {
  html, body {
    padding-bottom: 0px;
  }
}

/* Hide scrollbar utility */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
